h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 25px;
}

p {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}

.center {
    display: flex;
    justify-content: center;
}